:root {
    --primario: #05183c;
    --secundario: #06296b;
    --terciario: rgb(239, 160, 5
    );
    --oscuro: #304f3c; 
    --black: #0c0d0d;
    --white: #e4dcd7;
    --fill-size: 0;
    font-family: monospace
}
html {
    box-sizing: border-box;
    font-size: 62.5%;

}
*,
:before,
:after {
    box-sizing: inherit
}
body {
    background-color: #000;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    height: 100vh
}
ul {
    list-style: none
}
h1 {
    font-size: 4rem
}
h2 {
    font-size: 5rem
}
h3 {
    font-size: 2.8rem;
    font-weight: 200;
    margin: 0;
}
h4 {
    font-family: monospace;
    font-size: 2.3rem;
    font-weight: 100
}
p {
    color: var(--white);
    font-size: 3rem;
    text-align: justify
}
a {
    text-decoration: none;
    color: var(--primary-color);
    z-index: 1;
    font-size: 1rem;
}
.loader-bg {
    position: fixed;
    z-index: 999999;
    background: #000;
    width: 100%;
    height: 100%
}
.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px)
}
.loader:after,
.loader:before {
    content: '';
    border: 1em solid var(--terciario);
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0
}
.loader:before {
    animation-delay: .5s
}
@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        transform: scale(1);
        opacity: 0
    }
}
.menu-link {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1rem;
    background-image: linear-gradient(to right, #304f3c, #304f3c 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s ease-in-out
}
.menu-linkone {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1rem;
    background-image: linear-gradient(to right, #ffffff, #ffffff 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s ease-in-out
}
.floating {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden
}
@keyframes floating {
    0% {
        transform: translate(0, 0px)
    }
    50% {
        transform: translate(0px, -15px)
    }
    100% {
        transform: translate(0, 0px)
    }
}
a:before {
    content: "";
    background: #304f3c;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all .3s ease-in-out
}
a:hover {
    background-position: 0
}
a:hover::before {
    width: 100%
}
.menu-link2 {
    margin-top: 1rem;
    background-image: linear-gradient(to right, #304f3c, #304f3c 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s ease-in-out
}
a:before {
    content: "";
    background: #304f3c;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all .3s ease-in-out
}
a:hover {
    background-position: 0
}
a:hover::before {
    width: 100%
}
ul {
    color: var(--white);
    font-size: 2rem
}
img {
    background-size: cover;
    object-fit: contain
}
/* burbujas */

.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
.aling {
    margin-top: 5rem;
    margin-bottom: 5rem
}
.contenedor {
    z-index: 12;
    margin-bottom: 10rem;

}
.sobre-nosotros__texto h3 span {
    text-align: start;
    margin-bottom: 4rem;
    font-size: 4rem
}
.sobre-nosotros__texto a {
    margin: 2rem auto;
    width: 500px
}
.me {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover
}
.floating {
    width: 400px
}
@media (max-width: 585px) {
    .sobre-nosotros__texto a {
        margin: 2rem auto;
        width: 350px
    }
}
.sobre-nosotros__texto p {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    text-align: center
}
.contenedor-about {
    margin-top: 20rem;
    background-color: #000;
    padding: 15rem 0
}
@media (min-width: 1024px) {
    .contenedor-about {
        display: flex;
        justify-content: center;
        column-gap: 10rem
    }
    .sobre-nosotros__texto h3 {
        margin: 0 auto
    }
}
#trucazo {
    opacity: 0
}
.showcase {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px
}
.video-contenedor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}
.video-contenedor video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain
}

.video-contenedor:after {
    content: "";
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute
}
.maquina {
    display: block;
    margin-bottom: 2rem;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 25ch;
    font-size: 3.4rem;
    animation-delay: 3s;
    animation: typing 5s steps(25), blink .5s infinite step-end alternate;
    overflow: hidden
}
@keyframes typing {
    from {
        width: 0
    }
}
@keyframes blink {
    50% {
        border-color: transparent
    }
}
.maquina-aboutme {
    display: block;
    margin-bottom: 2rem;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;
    font-size: 4rem;
    animation: typing 4s steps(10), blink .5s infinite;
    overflow: hidden;
    animation-delay: 3s
}
@media (min-width: 1024px) {
    .contenedor-about .sobre-nosotros__texto .about-me {
        margin: 3rem 0
    }
}
@keyframes typing {
    from {
        width: 0
    }
}
@keyframes blink {
    50% {
        border-color: transparent
    }
}
.app {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    max-height: 10vh;
    min-width: 100%;
    text-align: center;
    margin-top: -8rem;
    z-index: 10;
}

@media (min-width: 585px) {
    .sidebar {
        display: flex;
        width: 100vw
    }
}
.sidebar {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly
}
.sidebar nav a {
    min-width: 250px;
    border-bottom: solid 3px var(--white);
    padding: 0 2rem
}
.sideabr h2 {
    color: var(--white);
    font-size: 2rem;
    margin-bottom: .5rem
}
.sidebar a {
    font-size: 2.4rem
}
.menu-item {
    margin: 0 1rem;
    cursor: pointer;
    color: var(--white)
}
.menu-item:hover {
    cursor: pointer;
    color: var(--terciario);
    transition: all 1s ease-out
}
.menu-item.is-active {
    color: var(#f1f1f1)
}
.content h1 {
    margin-bottom: 1rem
}
.hamburguer-container {
    width: 100%;
    display: flex;
    justify-content: flex-end
}
.menu-toggle {
    background-color: var(--terciario);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: none
}
.hamburguer {
    cursor: pointer;
    position: relative;
    top: 17%
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px auto;
    transition: all .3s ease
}
@media (max-width: 1024px) {
    .menu-toggle {
        display: block
    }
    .menu-item {
        display: inline-flex;
        justify-content: space-around;
        margin: 0 1rem;
        cursor: pointer
    }
    .contenedor-about .sobrenosotros-imagen img {
        border: 7px inset #a4a4a4
    }
    .sobrenosotros-imagen {
        display: block;
        margin: 0 auto 10rem
    }
    .contenedor-info a {
        margin: 0 auto;
        margin-top: 3rem;
        width: 620px
    }
}
.contenedor-info a {
    margin: 0 auto;
    margin-top: 3rem;
    width: 620px
}
.sobrenosotros-imagen img {
    border: 5px inset #a4a4a4
}
.contenedor-bar {
    background: #000;
    column-gap: 5rem;
    padding-bottom: 15rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
.skill h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: var(--white);
    font-size: 162px
}
.progress_bar {
    background: #959595;
    width: 300px;
    height: 10px;
    border-radius: 2rem
}
.contenedor-bar .lenguage-skills {
    color: #fff
}
#languages {
    margin-bottom: -7rem
}
.progress_bar div {
    height: 10px;
    border-radius: 2rem;
    width: 0
}
.progress_bar div span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    float: right;
    margin-top: -12px;
    margin-right: -20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
}
.Html {
    background: var(--terciario);
    animation: Html 1s linear forwards;
    animation-delay: 1s
}
.English {
    background: var(--oscuro);
    animation: English 1s linear forwards;
    animation-delay: 1s
}
.Spanish {
    background: var(--oscuro);
    animation: Spanish 1s linear forwards;
    animation-delay: 1s
}
.tailwindcss {
    background: var(--terciario);
    animation: Tailwindcss 1s linear forwards;
    animation-delay: 1s
}
.styledcomponents {
    background: var(--terciario);
    animation: styledcomponents 1s linear forwards;
    animation-delay: 1s
}
.git {
    background: var(--terciario);
    animation: Git 1s linear forwards;
    animation-delay: 1s
}
.Css {
    background: var(--terciario);
    animation: Css 1s linear forwards;
    animation-delay: 1s
}
.JavaScript {
    background: var(--terciario);
    animation: JavaScript 1s linear forwards;
    animation-delay: 1s
}
.Sass {
    background: var(--terciario);
    animation: Sass 1s linear forwards;
    animation-delay: 1s
}
.React {
    background: var(--terciario);
    animation: React 1s linear forwards;
    animation-delay: 1s
}
#skills {
    margin-top: 14rem
}
@keyframes Html {
    100% {
        width: 89%
    }
}
@keyframes English {
    100% {
        width: 85%
    }
}
@keyframes Spanish {
    100% {
        width: 92%
    }
}
@keyframes Tailwindcss {
    100% {
        width: 74%
    }
}
@keyframes styledcomponents {
    100% {
        width: 70%
    }
}
@keyframes Git {
    100% {
        width: 82%
    }
}
@keyframes Css {
    100% {
        width: 86%
    }
}
@keyframes JavaScript {
    100% {
        width: 72%
    }
}
@keyframes Sass {
    100% {
        width: 69%
    }
}
@keyframes React {
    100% {
        width: 72%
    }
}
.html span {
    border-radius: 1px;
    animation: html 1sec linear forwards
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;
    margin-top: 25px;
    margin-left: -12rem;
    opacity: .7;
    font-size: 2rem;
    font-weight: 700
}
.btn:hover {
    transform: scale(105%)
}
.first-link {
    display: none;
}
.second-link {
    border: 3px outset #ffffff;
    padding: 1rem 6rem;
    font-size: 2rem;
}
.linkedin-link, .git-link, .tw-link  {
        margin-top: 1rem;
        background-image: linear-gradient(to right, #ffffff, #ffffff 50%, #fff 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: .5rem .5rem;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}

.btn-showmore {
    display: block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;
    opacity: .7;
    font-size: 2rem;
    font-weight: 700;
    margin: 3rem auto;
    width: 25vh
}
.btn-showmore:hover {
    transform: scale(105%)
}
.about {
    background: #000;
    color: var(--terciario);
    text-align: center;
    font-weight: 400
}
.about p {
    color: var(--white);
    font-size: 2.4rem;
    max-width: 600px;
    margin: auto
}
.about h2 {
    margin: 30px 0
}
.info-texto {
    margin-top: 4rem
}
.sobre-nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6rem
}
.contenedor-info {
    margin-top: 1rem
}
b {
    color: var(--terciario)
}
@media (min-width: 768px) {
    .btn-cv {
        margin-right: 45rem;
        cursor: pointer
    }
}
@media (min-width: 578px) {
    .grid-iconos {
        text-align: center
    }
}
.grid-iconos picture img {
    width: 200px;
    height: 200px;
    margin-top: 10rem;
    place-items: center;
    margin-bottom: 2rem;
}
@media (min-width: 1200px) {
    .grid-iconos {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        place-items: center
    }
}
@media (min-width: 478px) {
    .grid-icons {
        grid-template-columns: repeat(1, 2fr);
        place-items: center;
        text-align: center
    }
}
.producto__nombre {
    text-align: center;
    margin-top: -1rem
}
.tecnhologies {
    background: linear-gradient(#e2e4e4 0%, rgba(0, 0, 0, 0.4) 0%), url(../src/img/mostaza-wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 14rem 0 15rem;
    text-align: center
}
.contact-content form button {
    margin-left: 1rem
}
#contact {
    margin-top: 15rem;
    background: linear-gradient(#e2e4e4 0%, rgba(0, 0, 0, 0.4) 0%), url(../src/img/mostaza-wallpaper.jpg);
    padding: 10rem 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
}
.grid-proyectos {
    margin-top: 10rem;
    column-gap: 5rem
}
.proyectos {
    padding-top: 1rem;
    background-color: var(--oscuro)
}
@media (min-width: 1200px) {
    .grid-proyectos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center
    }
}
@media (min-width: 928px) {
    .producto {
        place-items: center;
        text-align: center;
        margin-bottom: 6rem
    }
    .producto__imagen {
        grid-template-columns: repeat(2, 1fr)
    }
}
@media (min-width: 478px) {
    .producto {
        margin-bottom: 6rem;
        place-items: center;
        text-align: center
    }
}
.producto__imagen {
    width: 500px;
    height: 300px;
    border-radius: 3rem
}
.producto {
    overflow: hidden;
    border-radius: 4rem;
    width: 100%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 2rem
}
.producto__imagen {
    background-size: cover;
    background-position-y: center
}
.producto__nombre {
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 2rem
}
.repository {
    margin: -1rem
}
.producto__imagen:hover {
    transform: scale(105%)
}
.u-wrapper {
    max-inline-size: 1232px;
    margin: 0 auto;
    padding: 0 1em
}
.form {
    max-inline-size: 550px;
    margin: auto;
    color: var(--white)
}
.form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em
}
.form input,
.form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858c94;
    font-weight: 400
}
.form textarea {
    margin-block-end: 2em;
    font-family: inherit
}
input::-webkit-input-placeholder {
    color: #0f0a0a88
}
.tag span {
    font-size: 3rem;
    padding: .3em;
    background: var(--white);
    color: var(--black);
    box-shadow: -4px 4px 0 var(--oscuro);
    border-radius: 1rem;
    
}
.tag {
    margin: 0 auto;
}
.noeffect a:before {
    content: "";
    background: #00000000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all .3s ease-in-out
}
.noeffect a:hover {
    background-position: 1px
}
.footer_info {
    font-family: monospace;
    margin: 0 5rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between
}
footer {
    background: linear-gradient(#e2e4e4 0%, rgba(0, 0, 0, 0.7) 0%),
}
@media (max-width: 720px) {
    .video-contenedor:after {
        content: "";
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        position: absolute
    }
    .showcase {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        padding: 0 20px;
        margin-top: 4rem;
        margin-bottom: 3rem
    }
    main {
        overflow-x: hidden
    }
    footer {
        margin: 0 auto
    }
    .footer_info {
        display: flex;
        color: transparent
    }
    nav {
        margin-top: 8rem;
        margin-bottom: 2rem
    }
    .floating {
        margin-top: 10rem
    }
    .app .sideabr .menu a:first-child {
        color: transparent
    }
    .progress_bar {
        width: 17vh
    }
}
.footerdos {
    margin-top: 15rem
}
.menu h4 {
    margin-right: 8rem
}
.menu {
    z-index: 10;
}
@media (min-width: 1024px) {
    .menu-active {
        position: fixed;

    }
}

.seblogo {
    margin-top: 2rem;
    margin-left: -5rem
}

@media (min-width: 1200px) {
    .icons-technologies picture h3 {
        border-bottom: 3px solid var(--oscuro);
        border-radius: 1rem;
        background-color: rgba(237, 237, 237, 0.6);
        color: black;
        
        
    }
}
.icons-technologies picture h3 {
    color: var(--black);
    background-color: rgba(237, 237, 237, 0.6);
    width: 200px;
    margin: auto;
    border-radius: 1rem;
    font-size: 2.2rem;
    

}

#portfolio {
    background: #000;
    max-width: 100%;
    padding: 100px;
    margin: auto;
    margin-bottom: -16rem
}
#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: #304f3c;
    text-decoration-thickness: 4px
}
#portfolio .fila {
    display: flex;
    justify-content: center;
    margin: 6rem 0 10rem
}
#portfolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 3rem;
    height: 34vh
}
#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(0);
    object-fit: cover;
    transition: .5s
}
#portfolio .fila .proyecto:hover img {
    filter: grayscale(1)
}
#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 1, 0.9);
    color: #fff;
    font-family: sans-serif;
    width: 100%;
    opacity: 0;
    bottom: -30px;
    transition: .5s;
    text-align: center
}
#portfolio .fila .proyecto .info h4 {
    margin-bottom: -1rem;
    color: var(--white)
}
#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0
}
@media (max-width: 1200px) {
    #portfolio {
        padding: 50px 0
    }
    #portfolio .fila {
        display: block
    }
    #portfolio .fila .proyecto {
        margin: 10px auto
    }
}
.noeffect:hover {
    background-position: 11px
}
.noeffect:hover::before {
    width: 0
}